logs/
project/target/
project/project/
target/
build/
*.iml
*.ipr
*.iws
.idea/
.out
out
output
.gradle
.project
.cache
.classpath
.settings/
*.dot
.DS_Store
*part-*
derby.log
metastore_db
spark-warehouse
*.bak
*.pyc
conf/moonbox-defaults.conf
conf/moonbox-env.sh
conf/slaves
check_illegal.py
**/dependency-reduced-pom.xml
**/generate
dev/deploy.sh
bin/moonbox-submit.sh
bin/moonbox.sh

