logs/
project/target/
project/project/
target/
build/
*.iml
*.ipr
*.iws
.idea/
.out
out
output
.gradle
.project
.cache
.classpath
.settings/
*.dot
.DS_Store
*part-*
derby.log
metastore_db
spark-warehouse
*.bak
conf/moonbox-defaults.conf
conf/moonbox-env.sh
conf/nodes
conf/log4j.properties
check_illegal.py
catalyst/src/main/generate



