moonbox {
    deploy {
        login {
            implementation = "built-in"
            #implementation = "custom"
            #class = ""

        }
        rest {
            enable = true
            port = 9099
            request.timeout = "600s"
            idle.timeout= "600s"
        }
        tcp {
            enable = true
            port = 10010
        }
        thrift {
            enable = false
            port = 10020
        }

        recovery {
            implementation = "NONE"
            # implementation = "ZOOKEEPER"
            # zookeeper.url = "localhost:2181"
            # zookeeper.dir = "/moonbox"
        }
        catalog {
            implementation = "mysql"
            url = "jdbc:mysql://10.143.131.38:3306/moonbox7?createDatabaseIfNotExist=true"
            user = "root"
            password = "123456"
            driver = "com.mysql.jdbc.Driver"
            # implementation = "custom"
            # class = ""
        }

        timer {
            # enable = false
            # org.quartz.scheduler.instanceName = "TimedEventScheduler"
            # org.quartz.threadPool.threadCount = 3
            # org.quartz.scheduler.skipUpdateCheck = true
            # org.quartz.jobStore.misfireThreshold = 3000
            # org.quartz.jobStore.class = "org.quartz.simpl.RAMJobStore"

            # org.quartz.scheduler.instanceName = "EventScheduler"
            # org.quartz.threadPool.threadCount = 3
            # org.quartz.scheduler.skipUpdateCheck = true
            # org.quartz.jobStore.misfireThreshold = 3000
            # org.quartz.jobStore.class = "org.quartz.impl.jdbcjobstore.JobStoreTX"
            # org.quartz.jobStore.driverDelegateClass = "org.quartz.impl.jdbcjobstore.StdJDBCDelegate"
            # org.quartz.jobStore.useProperties = false
            # org.quartz.jobStore.tablePrefix = "QRTZ_"
            # org.quartz.jobStore.dataSource = "quartzDataSource"
            # org.quartz.dataSource.quartzDataSource.driver = "com.mysql.jdbc.Driver"
            # org.quartz.dataSource.quartzDataSource.URL = "jdbc:mysql://master:3306/quartz-test"
            # org.quartz.dataSource.quartzDataSource.user = "root"
            # org.quartz.dataSource.quartzDataSource.password =  "123456"
            # org.quartz.dataSource.quartzDataSource.maxConnections = 10
        }
    }

    worker {
        timeout = "30m"
    }

    mixcal {
        pushdown.enable = true
        column.permission.enable = true
        spark.sql.cbo.enabled = true
        local = [{}, {}]
        cluster = [{
          spark.hadoop.yarn.resourcemanager.hostname = "master"
          spark.hadoop.yarn.resourcemanager.address = "master:8032"
          spark.yarn.stagingDir = "hdfs://master:8020/tmp"
          spark.yarn.access.namenodes = "hdfs://master:8020"
          spark.loglevel = "ERROR"
          spark.cores.max = 2
          spark.yarn.am.memory = "512m"
          spark.yarn.am.cores = 1
          spark.executor.instances = 2
          spark.executor.cores = 1
          spark.executor.memory = "6g"
        }]
    }

}
