## moonbox cluster topology
## for example(two masters and four slaves):

# moonbox.gird.master.1   grid://host:port
# moonbox.grid.master.2   grid://host:port

# moonbox.gird.worker.1   host
# moonbox.gird.worker.2   host
# moonbox.gird.worker.3   host
# moonbox.gird.worker.4   host

